body{
    background-color:#262c32;
}

body{
	font-size: 12pt;
    color: #ffffff;
	font-family: "Tahoma", "Verdana", sans-serif;
	margin: 0px;
	padding: 0px;
    line-height: 1.4;
    height: 100%;
    width: 100%;
}

#main{
    text-align: center;
}

#main > h2 {
    margin-top: 5%;
    color: #ede12d;
}

#centerLogin{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

#fieldset{
    display: grid;
    place-items: center;
    width: 100%;
}

#centerLoginEmail{
    text-align: center;
    margin: 2%;
}

#centerLoginPwd{
    text-align: center;
    margin: 2%
}

#formBoxButton{
    text-align: center;
    margin: 2%
}

#loginButton{
    margin-top: 3%;
    color: #f3de93;
    background-color: #262c32;
    cursor: pointer;
    width: 30%;
}

#register-now{
    text-align: center;
    margin: 2%
}

.errore{
    color: red;
}

footer {
    margin-top: 3%;
    width: 100%;
    height: 300px;
    background-color: #262c32;
    color: white;
    text-align: center;
    font-size: 0.8rem;
}